body {
        background: radial-gradient(circle, white, #b0deda); 
        background-image: url("../images/pexels-henry.gif");
    } 

.m_h1 {    
        font-family: Georgia, "Times New Roman", serif;
        text-align:center; 
        font-size: 40px;
        font-weight: bold;
        text-shadow: 1px 1px 2px blue;
    }

.p1 {   font-family: Georgia, "Times New Roman", serif;
        font-size: 30px;
    } 

.p2 {   font-family: Verdana, "Times New Roman", sans-serif;
        font-size: 16px;
        background-color: rgba(240, 248, 255, 0.3);
    }
.main_text { font-family: Verdana, "Times New Roman", sans-serif;
        font-size: 16px;
        line-height: 26px; 
        padding-bottom: 3em;
        background-color: rgba(240, 248, 255, 0.3);
        text-align: center;
        width: 100%;
}

#div_inline {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: rgba(240, 248, 255, 0.3);
}

.disclaim {
    position:bottom;
    text-align: center;
    width: 100%;
}

