body {
        background: radial-gradient(circle, white, #cce5e2); 
    } 

.m_h1 {    
        font-family: Georgia, "Times New Roman", serif;
        text-align:center; 
        font-size: 40px;
        font-weight: bold;
    }

.p1 {   font-family: Georgia, "Times New Roman", serif;
        font-size: 30px;
    } 

.p2 {   font-family: Verdana, "Times New Roman", sans-serif;
        font-size: 16px;
        /* color: gray; */
    }

  .bal1 {
        float: left;
        display: flow;
        padding-right: 2em;
    }
/*
  .jobb1 { 
        flex-flow: column;
        display: flow;
        float: right;
        border: solid;
    }
*/
.disclaim {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;

    }